<a [routerLink]="['/product-list']"> < Back</a>
<hr class="mt-0" />

<div id="productDetail" *ngIf="product">
  <img src="https://via.placeholder.com/250" class="float-left" />
  <div id="productInfo" class="float-left ml-5">
    <h3>{{product.productName}}</h3>
    <h4 style="color:red">{{product.price | number}} VNĐ</h4>
    <span>{{product.description}}</span>
  </div>
</div>
