<h1 mat-dialog-title>Create/Edit product</h1>
<div mat-dialog-content> 
   <mat-form-field appearance="outline">
      <mat-label>Product name</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="data.productName" name="name" required>
    </mat-form-field>  <br />
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput [(ngModel)]="data.price" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quality</mat-label>
      <input matInput [(ngModel)]="data.quality" type="number" required>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" style="width:-webkit-fill-available">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description" required></textarea>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Updated Date</mat-label>
      <input matInput [(ngModel)]="data.updatedDate" disabled>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Updated By</mat-label>
      <input matInput [(ngModel)]="data.updatedBy" disabled>
    </mat-form-field>
</div>
  <div mat-dialog-actions class="text-center" style="display:block">
    <button mat-stroked-button (click)="onClose()">Close</button>
    <button mat-stroked-button [mat-dialog-close]="data">Ok</button>
  </div>
