<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <span *ngIf="(userForm.controls['userName'].errors?.required && userForm.controls['userName'].touched) || (userForm.controls['password'].errors?.required && userForm.controls['password'].touched)" class="text-warning">User name and password is required</span><br />
    <span *ngIf="error" class="text-warning">{{error}}</span>
    <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="userName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      <a [routerLink]="['/register']">Create one?</a>
    </form>
  </mat-card> 
</div>
