<div id="tblTextNote">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--<ng-container matColumnDef="textnoteId">
      <th mat-header-cell *matHeaderCellDef  style="display:none"> textnoteId </th>
      <td mat-cell *matCellDef="let textNote"  style="display:none"> {{textNote.textnoteId}} </td>
    </ng-container>-->

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Họ tên </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Ngày bắt đầu </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> Ngày kết thúc </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="titleName">
      <th mat-header-cell *matHeaderCellDef> Biểu mẫu </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.titleName}} </td>
    </ng-container>

    <ng-container matColumnDef="mainCourse">
      <th mat-header-cell *matHeaderCellDef> Bữa chính </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.mainCourse}} </td>
    </ng-container>

    <ng-container matColumnDef="sideMeal">
      <th mat-header-cell *matHeaderCellDef> Bữa phụ </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.sideMeal}} </td>
    </ng-container>

    <ng-container matColumnDef="water">
      <th mat-header-cell *matHeaderCellDef> Nước/thức ăn lỏng </th>
      <td mat-cell *matCellDef="let textNote"> {{textNote.water}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
</div>
