#tblTextNote {
  background: gray;
  width: 1685px;
  position: fixed;
  left: 220px;
  max-height: 565px;
  overflow: auto;
  border: solid darkgray;
}
table.mat-table {
  display: table;
  width: 100%;
}
