<div id="cpnFormInfo" class="row">
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append">
        <button mat-raised-button>Đối tượng</button>
      </div>
      <input class="form-control">
      <mat-checkbox>Không rỏ tên</mat-checkbox>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append"> 
        <mat-datepicker #pickerStart></mat-datepicker>
        <button mat-raised-button (click)="pickerStart.open()">Bắt đầu</button>
      </div>
      <input class="form-control" placeholder="dd/mm/yyy HH:ss" [matDatepicker]="pickerStart">
      <mat-checkbox>Chưa xác định</mat-checkbox>
      <button mat-raised-button class="subBtnFixtime">Giờ cố định</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append">
        <mat-datepicker #pickerEnd></mat-datepicker>
        <button mat-raised-button (click)="pickerEnd.open()">Kết thúc</button>
      </div>
      <input class="form-control" placeholder="dd/mm/yyy HH:ss" [matDatepicker]="pickerEnd"> 
      <mat-form-field class="sleTimeSup">
        <mat-select [disabled]="option">
          <mat-option value="option" disabled>Thời gian hỗ trợ</mat-option>
          <mat-option value="5">5 phút</mat-option>
          <mat-option value="10">10 phút</mat-option>
          <mat-option value="20">20 phút</mat-option>
          <mat-option value="50">50 phút</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append">
        <button mat-raised-button>Người thực hiện</button>
      </div>
      <input class="form-control">
      <mat-checkbox>Lưu ý</mat-checkbox>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append">
        <button mat-raised-button>Phòng</button>
      </div>
      <input class="form-control">
      <mat-checkbox>Tóm tắt</mat-checkbox>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-md">
      <div class="input-group-append">
        <button mat-raised-button>Người ghi chép</button>
      </div>
      <input class="form-control">
    </div>
  </div>
</div>
