#cpnFormInfo {
  width: 615px;
  border: solid darkgray;
  background: azure;
  height: 272px;
  position: fixed;
  top: 645px;
  left: 450px;
  padding: 10px 0px;
}

  #cpnFormInfo input {
    height: 36px;
  }
  #cpnFormInfo span {
    padding: 5px 0px 0px 5px;
    margin-left: 10px;
  }
  #cpnFormInfo mat-select {
    margin-left: 10px;
  }
  #cpnFormInfo button {
    min-width: 135px;
  }
  #cpnFormInfo mat-checkbox{
      padding: 5px 0px 0px 5px;
  }
  #cpnFormInfo .subBtnFixtime{
      margin-left:10px;
  }
  #cpnFormInfo .sleTimeSup {
    height: 36px;
    top: -15px;
    padding-left: 10px;
  }
