<!--<div *ngIf="!products">
  <h4>Loading...</h4>
</div>-->
<div *ngIf="products">
  <div class="header">
    <h1 id="tableLabel" class=" float-left">Product List</h1>
    <button class="btn btn-success float-right" (click)="addProduct()"> New Product</button>
  </div>

  <table class='table table-striped text-center'>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quality</th>
        <th>Updated Date</th>
        <th>Updated By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" id="{{ product.productId }}">
        <td class="tdProductName">{{ product.productName }}</td>
        <td class="tdPrice">{{ product.price | number}} VNĐ</td>
        <td class="tdQuality">{{ product.quality | number}}</td>
        <td class="tdUpdatedDate">{{ product.updatedDate|date:'short' }}</td>
        <td class="tdUpdatedBy">{{ product.updatedBy }}</td>
        <td class="tdAction">
          <button mat-raised-button [routerLink]="['/product-detail', product.productId]"> Detail</button>|
          <button mat-raised-button color="primary" (click)="editProduct(product)"> Edit</button>|
          <button mat-raised-button color="warn" (click)="deleteProduct(product.productId)"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
