<div id="loader-wrapper" class="d-none">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div> 
<router-outlet></router-outlet>
