<app-nav-menu></app-nav-menu>
<div> 
  <div class="content">
    <app-list-user></app-list-user>
    <router-outlet></router-outlet>
    <app-list-title></app-list-title>
    <app-form-info></app-form-info>
    <app-form-detail></app-form-detail>
  </div>
</div>  
