#cpnFormDetail {
  width: 850px;
  border: solid darkgray;
  background: azure;
  height: 272px;
  position: fixed;
  top: 645px;
  left: 1055px;
  overflow-y: scroll;
}

fieldset mat-radio-button {
  margin-right: 10px;
}
fieldset legend{
    font-size:16px;
    
}
#cpnFormDetail mat-card-title{
    font-size:1.5em;

}
