<div id="cpnFormDetail">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bữa ăn</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-horizatal">
      <div class="form-group row">
        <div class="col-md-6">
          <span class="mat-tab-label-active">Bửa chính</span>
          <input class="form-control">
        </div>
        <div class="col-md-6">
          <span class="mat-tab-label-active">Lượng nước</span>
          <div class="input-group input-group-md">
            <input class="form-control">
            <div class="input-group-append">
              <button mat-raised-button disabled>CC</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <span class="mat-tab-label-active">Bửa phụ</span>
          <input class="form-control">
        </div>
        <div class="col-md-6">
          <span class="mat-tab-label-active">Thức ăn lỏng</span>
          <div class="input-group input-group-md">
            <input class="form-control">
            <div class="input-group-append">
              <button mat-raised-button disabled>CC</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <fieldset>
          <legend>Hộ lý hỗ trợ</legend>
          <mat-radio-group>
            <mat-radio-button value="1">Hỗ trợ toàn phần </mat-radio-button>
            <mat-radio-button value="2">Hỗ trợ một phần </mat-radio-button>
            <mat-radio-button value="3">Quan sát </mat-radio-button>
            <mat-radio-button value="4">Tự lập </mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <legend>Địa điểm</legend>
          <mat-radio-group>
            <mat-radio-button value="1">Nhà ăn </mat-radio-button>
            <mat-radio-button value="2">Phòng ngủ </mat-radio-button>
            <mat-radio-button value="3">Station </mat-radio-button>
            <mat-radio-button value="4">Khác </mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <span class="mat-tab-label-active" style="font-size:16px;">Tình trạng</span>
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-md-6">
          <span class="mat-tab-label-active" style="font-size:16px;">Giải pháp</span>
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
