<div id="cpnListTitle">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"> 
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding> 
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node> 
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
</div>
