<div id="cpnListUser">
  <mat-tab-group>
    <mat-tab label="Người sử dụng" class="tabUser">
      <mat-selection-list #staff (selectionChange)="handleSelection($event)">
        <mat-list-option *ngFor="let staff of listStaff">
          {{staff}}
        </mat-list-option>
      </mat-selection-list>
    </mat-tab>
    <mat-tab label="Nhân viên" class="tabStaff">
      <mat-selection-list>
        <mat-list-option> Nhân viên 1</mat-list-option>
        <mat-list-option> Nhân viên 2</mat-list-option>
        <mat-list-option> Nhân viên 3</mat-list-option>
      </mat-selection-list>
    </mat-tab>
  </mat-tab-group>
</div>
