#cpnListUser {
  width: 200px;
  border: solid darkgray;
  background: azure;
  height: 845px;
  position: fixed;
} 
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}
